<% provide(:title, 'グループ作成/参加') %>
<h1>ようこそ、<%= current_user.name %>さん！</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="center">
      <%= link_to "グループを作成", new_group_path, class: "btn btn-primary" %>
    </div>
    <div class="center">
      <%= link_to "グループに参加", join_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>