<% provide(:title, 'グループ作成/参加') %>
<div class="center jumbotron">
  <h1>ようこそ、<%= current_user.name %>さん！</h1>
  <div class="mt-5">
    <%= link_to "グループを作成", new_group_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "グループに参加", join_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>