<h1>ShiftApp</h1>

<p>
  <%= @user.name %>様、<br>
  この度は、【ShiftApp】にご登録していただきまして<br>
  誠にありがとうございます。
</p>


<p>ご登録していただいたアカウント情報は以下となります。</p>

<p>
  従業員No：<%= @user.employee_no %><br>
  パスワード：個人情報のため非表示
</p>

<p>
  ご本人確認のため、下記リンクへアクセスし、<br>
  アカウントの本登録を完了させて下さい。
</p>


<%= link_to "本登録", edit_account_activation_url(@user.activation_token, 
                                        email: @user.email) %>

<p>
  ※当メールは送信専用メールアドレスから配信されています。<br>
  このままご返信いただいてもお答えできませんのでご了承ください。
</p>

<p>
  ※当メールに心当たりのない場合は、誠に恐れ入りますが<br>
  破棄していただけますよう、よろしくお願いいたします。
</p>
