<h1>【ShiftApp】パスワード再設定</h1>

<p>
  パスワードの再設定をご希望の場合は、下記URLにアクセスし<br>
  新しいパスワードをご登録ください。
</p>

<%= link_to "パスワード再設定", 
          edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
  ※URLの期限は2時間です。超えてしまうと無効となりますので、<br>
  ご注意ください。
</p>

<p>
  ※当メールは送信専用メールアドレスから配信されています。<br>
  このままご返信いただいてもお答えできませんのでご了承ください。
</p>

<p>
  ※当メールに心当たりのない場合は、誠に恐れ入りますが<br>
  破棄していただけますよう、よろしくお願いいたします。
</p>