<li>
  <%= user.name %>(<%=  user.employee_no %>)
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "削除", user, class: "delete", method: :delete,
                                    data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>