<li>
  <%= user.name %>(<%=  user.employee_no %>)
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "削除", leave_path(user), class: "delete", method: :patch,
                                    data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>