<li>
  <%= link_to "#{user.name}(#{user.employee_no})", user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "削除", user, class: "delete", method: :delete,
                                    data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>