<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      正しく入力されていない箇所が<%= object.errors.count %>個あります。
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>