<li>
  <%= hope_shift.user.name %>
  <% if hope_shift.content.present? %>
    <%= hope_shift.content %>
  <% else %>
    <% if hope_shift.hope_start_time.present? %>
      <%= hope_shift.hope_start_time.strftime("%H:%M") %>
    <% end %>
    ~
    <% if hope_shift.hope_end_time.present? %>
      <%= hope_shift.hope_end_time.strftime("%H:%M") %>
    <% end %>
  <% end %>
</li>