@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html, body {
  height: 100%;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-400;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  height: 80px;
  li {
    a {
      color: white;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  nav {
    a {
      color: white;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  // width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend :invalid;
  .form-control {
    color: $red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me, #fixed_shift_absence {
  width: auto;
  margin-left: 0;
}

#hope_shift_hope_start_time_4i,
#hope_shift_hope_end_time_4i,
#fixed_shift_fixed_start_time_4i,
#fixed_shift_fixed_end_time_4i {
  margin-right: 10px;
}

#hope_shift_hope_start_time_5i,
#hope_shift_hope_end_time_5i,
#fixed_shift_fixed_start_time_5i,
#fixed_shift_fixed_end_time_5i {
  margin-left: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
    .delete {
      float: right;
    }
  }
}

/* HopeShifts index */

.hope_shifts {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
  }
}

/* Fixed shifts index */

// .fixed_shifts {
//   list-style: none;
//   margin: 0;
//   li {
//     overflow: auto;
//     padding: 10px 0;
//     border-bottom: 1px solid $gray-400;
//     .edit {
//       float: right;
//     }
//   }
// }

/* Simple calendar */

.prev-month {
  a {
    display: none;
  }
}

.next-month {
  a {
    display: none;
  }
}

.current_month_calendar{
  .my-custom-scrollbar {
    position: relative;
    height: 60vh;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
  .table {
    th {
      &:first-child {
        position: sticky;
        left: 0;
        background-color: $light;
      }
    }
    thead {
      tr {
        &:first-child {
          th {
            position: sticky;
            background-color: $light;
            top: 0;
            z-index: 1;
          }
          .blank {
            z-index: 3;
          }
        }
        &:last-child {
          td {
            position: sticky;
            top: 3rem;
            background-color: $light;
          }
        }
      }
    }
    tbody {
      tr {
        &:hover {
          th:first-child {
            background-color: #ececec;
          }
        }
        th {
          &:first-child {
            z-index: 2;
            position: sticky;
            left: 0;
            background-color: $light;
          }
        }
      }
    }
    .day {
      height: 0;
    }
  }
}
