@import "bootstrap";

body {
  padding-top: 0;
}

.current_month_calendar {
  table {
    border: 1px solid #dddddd;
    tbody {
      tr {
        th {
          &:first-child {
            background: none !important;
          }
        }
      }
    }
  }
  .today {
    background: none;
  }
}