.current_month_calendar {
  .today {
    background: none;
  }
  
  table {
    border-collapse: collapse !important;
    width: 100%;
    margin-bottom: 20px;
    thead {
      display: table-header-group;
      height: 1.1cm;
    }
    tr {
      page-break-inside: avoid !important;
    }
  }
}