<% provide(:title, 'Edit fixed shift') %>
<% provide(:button_text, '変更') %>
<h1>確定シフト編集</h1>
<h3>希望シフト一覧</h3>
<ul class="hope_shifts">
  <%= render @hope_shifts %>
</ul>
<%= render 'fixed_shift_form' %>