<% provide(:title, 'シフト一覧') %>
<h1>シフト一覧</h1>

<%= SimpleCalendar::CurrentMonthCalendar.new(self, {}).render do |date| %>
  <%= link_to date.day, day_index_fixed_shifts_path(date) %>
<% end %>

<% if current_user.admin? %>
  <%= link_to "LINEに通知する", line_notify_fixed_shifts_path, class: "btn btn-success",
                                  method: :post %>
<% end %>