<% provide(:title, 'シフト作成') %>
<% provide(:button_text, '登録') %>
<h1><%= User.find(@user).name %></h1>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= render 'fixed_shift_form' %>
  </div>
</div>