<footer class="d-block d-md-none fixed-bottom">
  <nav class="nav nav-fill">
    <%= link_to "", current_user, class: "nav-item nav-link btn btn-primary px-0 border fas fa-home" %>
    <%= link_to "", fixed_shifts_path, class: "nav-item nav-link btn btn-primary px-0 border far fa-calendar-alt" %>
    <%= link_to "", hope_shifts_path, class: "nav-item nav-link btn btn-primary px-0 border fas fa-plus-square" %>
    <%= link_to "", edit_user_path(current_user), class: "nav-item nav-link btn btn-primary px-0 border fas fa-user" %>
  </nav>
</footer>